<h1><%= @person.name %></h1>

<p><%= format_currency @person.remaining %> of <%= format_currency @person.budget %> remaining.</p>

<h2>History:</h2>

<%= render partial: 'expenses/list', locals: { expenses: @person.expenses } %>


<% if current_person == @person %>
  <h2>Request conference expenses:</h2>
  <p>You must be a permanent employee off your probation period, and you are limited to <%= format_currency current_person.budget %> a year—you have <%= format_currency current_person.remaining %> left.</p>

  <%= render partial: 'expenses/new_form' %>
<% end %>
