<h1>Request to attend <%= @expense.name %></h1>

<p><%= link_to @expense.person.name, @expense.person %> wants to attend <%= @expense.name %> on the <%= @expense.pretty_date %>. It will cost <%= format_currency @expense.cost %> of their remaining <%= format_currency @expense.person.remaining %>.</p>

<p>
  The request is currently <strong><%= @expense.status %></strong>.

  <%= button_to 'Mark as approved', @expense, class: 'btn btn-success', method: :put, params: { status: 'approved' } if @expense.status == 'pending' %>
  <%= button_to 'Mark as rejected', @expense, class: 'btn btn-danger', method: :put, params: { status: 'rejected', reason: 'No reason' } if @expense.status == 'pending' %>
  <%= button_to 'Mark as bought', @expense, class: 'btn btn-default', method: :put, params: { status: 'bought' } if @expense.status == 'approved' %>
</p>

<% unless @expense.url.blank? %>
  <p>URL to purchase tickets: <%= link_to @expense.url, @expense.url %></p>
<% end %>

<% unless @expense.notes.blank? %>
  <h2>Notes:</h2>

  <pre><%= @expense.notes %></pre>
<% end %>
